.cke_editable h1,
.cke_editable h2,
.cke_editable h3,
.cke_editable h4,
.cke_editable h5,
.cke_editable h6,
.cke_editable p,
.cke_editable address,
.cke_editable div,
.cke_editable blockquote {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}
